<a href="https://colab.research.google.com/github/faithkane3/e_python/blob/main/python_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![python image]()

# Welcome to My Python Data Types Crash Course!

This tutorial is a basic intro to:
- the Python data types.
- operators.
- common data type attributes and methods.

## Getting Started
1. Check out the Google Colab tutorials [here](https://dataskills101.github.io/notebooks).
2. Create your own notebook to work in -> Click the 'File' tab in the upper-left part of the menu bar and click 'Save a copy in Drive' to create your own copy of my Google Colab notebook that you can edit and save.
3. As you add new cells with your own practice code to this notebook, be sure to save your work by either clicking on the 'File' tab in the menu bar and 'Save' or using `cmd+S`.

### Orientation:
- This notebook is composed of cells. Each cell will contain either text or Python code.
- To run the Python code cells, click the "play" button next to the cell or click your cursor inside the cell and do "Shift + Enter" on your keyboard. 
- Run the code cells in order from top to bottom, because order matters in programming and code.

### Troubleshooting
- If the notebook appears to not be working correctly, then restart this environment by going up to **Runtime** then select **Restart Runtime**. 
- If the notebook is running correctly, but you need a fresh copy of this original notebook, go [here](https://colab.research.google.com/drive/1Io39BlBOYHn1y22_zRfniXhdXE9s-huU?usp=sharing) and repeat the steps above in 'Getting Started'.
- Save frequently (`cmd+S`) and save often, so you have access to all of your exercise solutions!

___

### <font color=red>What Makes Python So Great?</font>

According to [w3schools.com](https://www.w3schools.com/python/python_intro.asp)

- Python was designed for readability, and has some similarities to the English language with influence from mathematics.


- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.


- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.


- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.


- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

___

### <font color=orange>So What?</font>

- Python can be treated in a procedural way, an object-oriented way or a functional way.


- Python can connect to database systems. It can also read and modify files.


- Python can be used to handle big data and perform complex mathematics.


Python also has libraries that are invaluable in the field of Data Science such as:

![python libraries](https://miro.medium.com/max/603/0*RSHaCzm8VQ-DFQOv)

___

### <font color=green>Now What?</font>

Click [here](https://www.pythoncheatsheet.org/#The-Zen-of-Python) for a great Python cheatsheet that covers pretty much any basic thing you might want to know.

You might want to check and see what version of Python you are running by typing the following in your terminal:

<p style="background:black">
<code style="background:black;color:white">python --version
</code>
</p>

You can also run the following right in your Jupyter Notebook:

In [ ]:
!python --version

Python 3.7.4

___

#### `len()` and `type()` functions
```python
len(sequence_object)

type(object)
```
I want to introduce two python functions nice and early because I will use them a lot! I can use the built-in function `len()` to return the number of elements in a sequence like a string or a list. I can use the built-in function `type()` to check my data type.

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Data Types

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

![Data Type Image](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmNGBEKQT8nwNYhJUPkl0Kjm-PWMmJKIw_ng&usqp=CAU)

___

#### **Numeric Types ->** `int`, `float`

An `int` is a whole number and a `float` is a decimal number. *Jumping ahead a bit, you will find out that missing values are also considered `float` types.*

In [ ]:
type(7)

int

In [ ]:
type(7.5)

float

In [ ]:
import numpy as np

type(np.NaN)

float

___

#### **Boolean Type ->** `bool`

Boolean values, `True` and `False`, are not strings, so they do not go in quotation marks, and they are case sensitive. Rather they inform me if my expression or condition logic evaluates to `True` or `False`. It's common to hear that a value is truthy or falsy. You can also think of boolean values as binary integers in that `True == 1` and `False == 0`.

In [ ]:
# The comparison returns `False`, a bool value because the lengths are not the same.

len('violet') == len('blue')

False

In [ ]:
type(len('violet') == len('blue'))

bool

In [ ]:
False != True

True

In [ ]:
True == 1

True

In [ ]:
False == 0

True

___

#### **Sequence Types ->** `str`, `list`, `tuple`, `range`

**A Python String** can be surrounded by single or double quotation marks. I can have an empty string with no characters or a string can contain multiple words, numbers, symbols, and whitespace characters. Click [here](#strings) to see what you can do with strings.

In [ ]:
type('Python rocks!')

str

In [ ]:
type("a")

str

In [ ]:
type('')

str

___

**A Python list** can contain elements of different data types and is a mutable object. Duplicate values are allowed. *Notice the square brackets surrounding the elements.* Click [here](#lists) to see what you can do with lists.

I can create a Python list in several different ways:

In [ ]:
# I can create an empty list as simply as this with the list constructor...

new_empty_list = []

print(type(new_empty_list))
new_empty_list

<class 'list'>

[]

In [ ]:
# I can create a populated list from the very start; notice it can contain various data types.

mixed_list = [1, 3.5, 'apple']

print(type(mixed_list))
mixed_list

<class 'list'>

[1, 3.5, 'apple']

___

**A Python tuple** is an ordered, immutable object. Duplicate values are allowed. *Notice the parentheses surrounding the pair of elements.*

In [ ]:
type((1, 3))

tuple

In [ ]:
type(('red', 'blue', 'green'))

tuple

___

**A Python `range()`** constructor creates a range object.
```python
range(start, stop, step)
```
![Range Image](https://pynative.com/wp-content/uploads/2018/10/python_range.png)

If I pass only one integer as my argument, the start (inclusive) is 0 and stop (exclusive) 1 less than my argument. *The step defaults to 1 if not specified.*

In [ ]:
range(6)

range(0, 6)

I can loop through my range object like this...
(more on loops later)

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

I can also wrap my range object in the built-in `list()` constructor to return a list of the integers specified by my range object.

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

Here, I specify that the range starts at 0 and stops at 10 (exclusive) moving in steps of 2 instead of 1.

In [ ]:
r = range(0,10,2)
r

range(0, 10, 2)

In [ ]:
evens_list = list(r)
evens_list

[0, 2, 4, 6, 8]

Now I can pass this list to other functions like this...

In [ ]:
# I can sum the integers in my list.

sum(evens_list)

20

In [ ]:
# I can return the number of elements in my list.

len(evens_list)

5

___

#### **Mapping Type ->** `dict`

**A Python dictionary** object is made up key:value pairs separated by a comma. It is a mutable object that does not allow duplicates. *Notice the curly brackets surrounding the key:value pairs.*

I can create a Python dictionary in several different ways:

In [ ]:
# I can create an empty dictionary as simply as this with the dictionary constructor...

new_empty_dictionary = {}

print(type(new_empty_dictionary))
new_empty_dictionary

<class 'dict'>

{}

In [ ]:
# I can create a populated dictionary from the very start; notice it can contain key/value pairs.

day_dict = {'weekday': 'Thursday', 'day': 20, 'month': 'October', 'year': 2020}

print(type(day_dict))
day_dict

<class 'dict'>

{'weekday': 'Thursday', 'day': 20, 'month': 'October', 'year': 2020}

Dictionary indexing is a little different from other sequences like lists and tuples; I access values in a dictionary by passing the key into square brackets instead of an integer for the index location. I'll go into dictionary functionality more [here](#dictionaries).

In [ ]:
day_dict['weekday']

'Thursday'

In [ ]:
day_dict['day']

20

___

#### **Set Type ->** `set`

**A Python set** object is an unordered and unindexed collection that is immutable and contains only unique values. *Notice the curly brackets.* I've opted to focus on list and dictionary methods in this basic notebook, but [here](https://www.w3schools.com/python/python_ref_set.asp) is a link to set methods for future use. They are quite useful when looking for differences or similarities between elements in different sequences.

In [ ]:
# Here I use curly brackets to create a set.

a_set = {1, 1, 2, 5}
type(a_set)

set

When I use the built-in `len()` function, I see that only the unique elements in the set are counted. *This can come in very handy when checking for unique elements in a list.*

In [ ]:
# This tells me there are 3 unique elements in a_set.

len(a_set)

3

In [ ]:
# Here I use square brackets to create a list containing the same elements as in my set.

a_list = [1, 1, 2, 5]
len(a_list)

4

In [ ]:
# This list does not contain all unique elements.

len([1, 1, 2, 5]) == len({1, 1, 2, 5})

False

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Operators

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

This is just a quick reference for Python operators. I'll be using these in action throughout this and in all future notebooks.

#### Comparison Operators

![Comparison Operator Image](https://slideplayer.com/slide/6506861/22/images/3/Python+Comparison+Operators%3A.jpg)

___

#### Arithmetic Operators

![Arithmetic Operators Image](https://i.imgur.com/PVOe4o9.jpg)

___

#### Logic Operators

![Logic Operator Image](https://slide-finder.com/luke/storage/www.tnstate.edu-=-faculty-=-fyao-=-COMP3050-=-Py-Slides-2/jpg/res-06.jpg)

___

#### Bitwise Operators

![Bitwise Operators Image](https://www.researchgate.net/profile/Rama_M_A/publication/276202732/figure/fig3/AS:667718365749268@1536207872972/Bitwise-Operators-i-Bitwise-operators-cannot-be-applied-to-float-or-double-They-can.png)

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## String Operations

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

<a id='strings'></a>

### String Methods

There are a ton of useful built-in methods that can be accessed using dot notation with Python string variables. To check out some of these methods, let's create a variable that holds a string as an example. To check out way more, check the doc [here](https://www.tutorialspoint.com/python/python_strings.htm).

In [ ]:
a_string = 'I am a string!'

In [ ]:
type(a_string)

str

___

#### `.lower()`, `.upper()`, `.capitalize()`, `.title()`, `swapcase()`

These string methods transform the characters in my string to either lowercase or uppercase in various ways. Check out the examples below:

In [ ]:
a_string.lower()

'i am a string!'

In [ ]:
a_string.upper()

'I AM A STRING!'

In [ ]:
a_string.capitalize()

'I am a string!'

In [ ]:
a_string.title()

'I Am A String!'

In [ ]:
a_string.swapcase()

'i AM A STRING!'

In [ ]:
# Using a string method doesn't mutate my original string; it returns a copy I can use or assign.

a_string

'I am a string!'

___

#### `.islower()`, `.isupper()`

I can use these methods to return a bool value if all of the characters in my string are lowercase or uppercase.

In [ ]:
# I can assign my string in all caps to a variable for further use.

caps = a_string.upper()
caps

'I AM A STRING!'

In [ ]:
# I can check my string for all upper- or all lowercase letters.

caps.isupper()

True

In [ ]:
caps.islower()

False

___

#### `.strip()`, `.replace()`

These string methods are useful to perform a little string cleanup by removing any whitespace from the beginning or end of my string and replacing a string with another string.
```python
# default for strip is to take out whitespace; `[chars]` is optional.

str.strip([chars])
str.lstrip([chars])
str.rstrip([chars])

# default replaces all occurences of the old with the new; this can be adjusted.

string.replace(old, new, [count=-1])
```

In [ ]:
a_string = ' I am a string. I am a messy string! '

In [ ]:
# Strip whitespace from beginning and end of string.

a_string.strip()

'I am a string. I am a messy string!'

In [ ]:
# Strip whitespace from beginning of string.

a_string.lstrip()

'I am a string. I am a messy string! '

In [ ]:
# Strip whitespace from end of string.

a_string.rstrip()

' I am a string. I am a messy string!'

In [ ]:
b_string = '!?I have junk at the front I don\'t need.'

In [ ]:
# The default is whitespace, but I can strip out other characters as well.

b_string.strip('!?')

"I have junk at the front I don't need."

___

In [ ]:
a_string.replace('string', 'something')

' I am a something. I am a messy something! '

In [ ]:
# I can pass in a number of occurences to replace if I don't want to replace them all.

a_string.replace('string', 'something', 1)

' I am a something. I am a messy string! '

In [ ]:
# I can chain these methods together, too! I can replace and strip at the same time.

a_string.replace('string', 'something', 1).strip()

'I am a something. I am a messy string!'

___

#### `.isalnum()`, `.isalpha()`, `.isdigit()`, `.isspace()`

These handy string methods return a bool value telling me if all of the characters in the string are either alphanumeric, alphabetic, digits,  or tabs/spaces/newlines respectively.

In [ ]:
# Define variables for use below

alpha = 'alphabetic'
alphanumeric = 'unit9'
digits = '210'

In [ ]:
alpha.isalpha()

True

In [ ]:
alphanumeric.isalnum()

True

In [ ]:
digits.isdigit()

True

In [ ]:
digits.isspace()

False

___

#### `.split()`, `.partition()`, `.join()`

I can split my string using a specific separator like a space or a hyphen and return the elements in a list (`.split()`) or tuple (`.partition()`), and I can join on a specific separator, too.

```python
# I can split a string into a list; the default separator is a whitespace if none is passed. I can pass an integer along with a separator to control the number of splits, but this is also optional.

str.split(separator, maxsplit=int)

# I can split a string into a tuple containing three elements, 1-elements before value, 2-value, 3-elements after value.

str.partition(value)

# I can join all of the items in a sequence_of_strings (an iterable) and join them on the string_separator I specify.

'str_separator'.join(sequence_of_strings)
```

In [ ]:
# Now I have a list of the elements in my string and can access them using indexing.

a_list = a_string.split()
a_list

['I', 'am', 'a', 'string.', 'I', 'am', 'a', 'messy', 'string!']

In [ ]:
a_list[-1]

'string!'

In [ ]:
a_list[0]

'I'

In [ ]:
# I can use partition to break my string on the separator I pass as an argument and index into the tuple.

a_tuple = 'Codeup rocks!'.partition(' ')
a_tuple

('Codeup', ' ', 'rocks!')

In [ ]:
# Now I can use indexing to access strings in my tuple.

a_tuple[0]

'Codeup'

In [ ]:
# I can join the elements of my list on a whitespace or some other separator, as well.

' '.join(a_list)

'I am a string. I am a messy string!'

In [ ]:
phone_string = '210-299-2080'

In [ ]:
# I can split on a specific separator and even control how many times I split.

phone_string.split('-', maxsplit=1)

['210', '299-2080']

___

#### `.startswith()`, `.endswith()`

I can return a bool value indicating if a string starts or ends with a substring I pass as an argument.
```python
# I have to pass a value, but specifying the index position at which to start and end my search is optional.

str.startswith(value, start, end)

# The same applies here.

str.endswith(value, start, end)
```

In [ ]:
e_string = 'automobile'

In [ ]:
e_string.startswith('auto')

True

___

#### `.count()`

I can count the number of occurences of a particular value in a string. The starting and ending index values are optional parameters that allow me more precision if I need it.
```python
# I have to pass a value, but specifying the index position at which to start and end my search is optional.

str.count(value, start, end), where :
```

In [ ]:
# There are two o characters in my e_string.

e_string.count('o')

2

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

### String Formatting

**The `print()` function** will display your value to your screen. I can format my output in several ways, a few of which I will demonstrate below.

**f-strings** allow me to print a string AND varibales by passing an f-string to my print function with variables inside of curly braces. [Here](https://www.datacamp.com/community/tutorials/f-string-formatting-in-python?utm_source=adwords_ppc&utm_campaignid=1565261270&utm_adgroupid=67750485268&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332661264371&utm_targetid=aud-438305022466:dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9028050&gclid=Cj0KCQjw2or8BRCNARIsAC_ppybcYIe9u50WwHu-kARvNZXXRNDctdHpELvjRtNYgLL2g2ThEq3nORUaAo9jEALw_wcB) is more on f-strings if interested.

In [ ]:
a_num = '20'

print(f'The number {a_num} contains {len(a_num)} digits!')

The number 20 contains 2 digits!

In [ ]:
name = 'Codeup'
company = 'Career Accelerator'

print(f'{name} is a {company}.')

Codeup is a Career Accelerator.

___

**The `.format()` method** is another way to combine strings and variables in a print statement.

In [ ]:
cnt = 3
price = 1.99
total = cnt * price

print('I bought {} coffees at {} each for a total of {}.'.format(cnt, price, total))

I bought 3 coffees at 1.99 each for a total of 5.97.

___

**The string modulo operator `%`** offers a lot more string formatting options, but to keep this basic notebook basic, I'll just add a [link](https://pyformat.info/) to a very detailed look at options for when you hit a case that requires more than the above two options.

___

**String Concatenation** allows me to combine strings using the `+` operator. *When a built-in operator or function displays different behaviors based on the type of object it is used with, this is called* **Operator Overloading.**

In [ ]:
greeting = 'Hi'
name = 'there!'

print(greeting + ' ' + name)

Hi there!

**String Multiplication** allows me to create a new string with the original string repeated n times by using the `*` operator. *This is another example of * **Operator Overloading.**

In [ ]:
s = 'happy '
s * 5

'happy happy happy happy happy '

In [ ]:
s * 0

''

___

**Comments** in this section? Sure, why not?!

In [ ]:
# You can use a hashtag to add comments to your code.

In [ ]:
'''
You can use triple quotes, single or double, 
to write multi-line comments or add docstrings
to functions, which we'll see in the next notebook.
'''

"\nYou can use triple quotes, single or double, \nto write multi-line comments or add docstrings\nto functions, which we'll see in the next notebook.\n"

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

### String Indexing & Slicing

**Positive String Indexing**

Python assigns a number to each character in a string, starting from 0 counting up to the last character in the string. We use these numbers to access specific characters in a string or elements in other sequences like lists or tuples.

![string indexing image]()

**Negative String Indexing**

Python also allows us to reference characters in a string using negative indexing that assigns -1 to the last character in the string. Negative indexing is very useful when you don't know how many characters are in a string, but you want to grab the last one or two only. *We will see this same indexing system when we dive into Python lists, too.*

**The Indexing Operator (square brackets) `[]`** allow me to isolate a character in a string by passing in a number representing the index position of a specific character.

In [ ]:
e_string

'automobile'

In [ ]:
# I can grab the first character in a string.

e_string[0]

'a'

In [ ]:
# I can grab the last character in a string.

e_string[-1]

'e'

___

**String Slicing**

I can slice a string using the same bracket notation as above; slicing allows me to isolate multiple characters in a string.

```python

str[start (inclusive): stop (exclusive): step]
```

In [ ]:
# I can leave out the start index if I want to start from 0.

e_string[:4]

'auto'

In [ ]:
# I can leave out the column index if I want to end at the end or -1.

e_string[4:]

'mobile'

In [ ]:
# I can reverse my string by passing -1 as my step argument with default start and stop.

e_string[::-1]

'elibomotua'

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

### Handy Keywords

#### `in`, `not in` 

These are two very useful membership operators used to verify if a string contains a certain substring or character. *These will be useful with other sequence types, as well.*

In [ ]:
# Define variables for use below.

vowels = 'aeiou'
o_string = 'o'
p_string = 'P'

In [ ]:
# I can use the .lower() method on my string to catch any capital letters in my string.

o_string.lower() in vowels

True

In [ ]:
p_string.lower() not in vowels

True

In [ ]:
# Print out the string stored in my `b_string` variable.

print(b_string)

!?I have junk at the front I don't need.

In [ ]:
'junk' in b_string

True

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## List Operations

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

<a id='lists'></a>

### List Methods

Like we saw with strings above, there are many useful built-in list methods that allow us to perform all types of manipulations on our list objects. We will look at a few very common methods below, but you can find many more [here](http://www.python-ds.com/python-3-list-methods).

In [ ]:
# I create my exmple list by surrounding a sequence of elements with square brackets.

color_list_original = ['red', 'yellow', 'violet', 'salmon']

In [ ]:
# I can also use the `list()` constructor to create a list from another type of sequence.

clothes = ('shirt', 'pants', 'skirt', 'socks')
type(clothes)

tuple

In [ ]:
clothes_list_original = list(clothes)
type(clothes_list_original)

list

I can use the `.copy()` method to create a copy of my sequence if I want to keep my original list intact because many of the list methods below perform in-place operations; this means they mutate my original list.

In [ ]:
color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

___

#### `.append()`, `.extend()`

I can add an item to the end of an existing list, and I can add a list to another list by joining them together respectively. *These manipulations will mutate or change my original list.*
```python
list.append(element)

list.extend(iterable)
```

In [ ]:
# I can add an item, shoes, to my clothes_list.

clothes_list.append('shoes')

In [ ]:
# My original clothes_list now contains the appended item, shoes.

clothes_list

['shirt', 'pants', 'skirt', 'socks', 'shoes']

In [ ]:
color_list2 = ['indigo', 'orange']

In [ ]:
# I can add the items in color_list2 to my original color_list.

color_list.extend(color_list2)

In [ ]:
color_list

['red', 'yellow', 'violet', 'salmon', 'indigo', 'orange']

In [ ]:
# If I tried to use .append() to add my two lists together, this would happen...

clothes_list.append(color_list2)

In [ ]:
# I get a nested list object. If you don't want this, use .extend().

clothes_list

['shirt', 'pants', 'skirt', 'socks', 'shoes', ['indigo', 'orange']]

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I can also add two lists using the + operator and assign my new list to a variable.

new_list = color_list + clothes_list
new_list

['red', 'yellow', 'violet', 'salmon', 'shirt', 'pants', 'skirt', 'socks']

___

#### `.insert()`, `.remove()`, `.pop()`

I can add an item to a list at a given position, remove the first item from my list that matches my specified value, and remove an item at a specific position from my list and return the item respectively. *These manipulations will mutate or change my original list.*
```python
# I can insert an element into an existing list at a specified index position.

list.insert(index_position, element)

# I can remove the first occurrence of an element in a list.

list.remove(element)

# I can remove an element at a specified index position from a list and return that element.

list.pop(index_position)
```

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I pass the index of the element before which I want to insert my new element, 'aqua'.

color_list.insert(0, 'aqua')

In [ ]:
# Now aqua is the first element in my list. If I used .append(), it would be the last.

color_list

['aqua', 'red', 'yellow', 'violet', 'salmon']

In [ ]:
# I will remove the item 'yellow' from my color_list

color_list.remove('yellow')
color_list

['aqua', 'red', 'violet', 'salmon']

In [ ]:
# I will remove and return the second item in my list, index 1, `red`.

color_list.pop(1)

'red'

In [ ]:
# Notice after I pop 'red', it is removed from my original list as well; it removes and returns the element.

color_list

['aqua', 'violet', 'salmon']

___

#### `.reverse()`, `.sort()`

I can reverse the elements in my list or sort the elements alphabetically.
```python
# I can perform a simple reverse of order on my original list.

list.reverse()

# I can sort my list in ascending/alphabetical order by default, passing no arguments to .sort(), or I can pass arguments for the reverse and key parameters to do way more complex sorts.

list.sort(reverse=True|False, key=function)
```

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I can reverse the elements in my original list.

color_list.reverse()
color_list

['salmon', 'violet', 'yellow', 'red']

In [ ]:
# I can sort the elements in my original list alphabetically by default.

clothes_list.sort()
clothes_list

['pants', 'shirt', 'skirt', 'socks']

In [ ]:
# I can sort in reverse alphabetical order, too!

clothes_list.sort(reverse=True)
clothes_list

['socks', 'skirt', 'shirt', 'pants']

In [ ]:
# I can pass a function, built-in or created, as a sorting key or criteria. Here I sort by string length!

color_list.sort(key=len)
color_list

['red', 'salmon', 'violet', 'yellow']

___

### List Indexing & Slicing

Once you understand positive and negative string indexing and slicing, you understand positive and negative list indexing. The difference is that the index number represents an element in your list (or tuple) instead of a character in your string.

![List Indexing Image](https://railsware.com/blog/wp-content/uploads/2018/10/first-slice.png)

In [ ]:
color_list = color_list_original.copy()
color_list

['red', 'yellow', 'violet', 'salmon']

In [ ]:
# The default start is 0 and stop is exclusive, just like slicing strings.

color_list[:4]

['red', 'yellow', 'violet', 'salmon']

In [ ]:
# I can use indexing to reverse my list by selecting all elements ([::]) and passing a step of -1.

color_list[::-1]

['salmon', 'violet', 'yellow', 'red']

In [ ]:
# I can access values in a nested list, too.

nested_list = ['this', 'is', 'the', 'outer', 'list', ['and', 'inner', 'one']]
nested_list

['this', 'is', 'the', 'outer', 'list', ['and', 'inner', 'one']]

In [ ]:
# The 5th element in my list is a list, and I can grab elements from that list using the second [].

nested_list[5][1]

'inner'

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Dictionary Operations

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

<a id='dictionaries'></a>

### Dictionary Methods

Again, dictionaries also have many useful built-in methods that allow us to perform all types of manipulations on our dictionary objects. We will look at a few very common methods below, but you can find more [here](https://www.w3schools.com/python/python_ref_dictionary.asp).

![Dictionary Image]()

In [ ]:
# Define my example dictionary

day_dict = {'weekday': 'Thursday', 'day': 20, 'month': 'October', 'year': 2020}

___

#### `.keys()`, `.values()`, `.items()`

I can return a list of keys, values, or items (key/value pairs) from my dictionary object.

In [ ]:
day_dict.keys()

dict_keys(['weekday', 'day', 'month', 'year'])

In [ ]:
day_dict.values()

dict_values(['Thursday', 20, 'October', 2020])

In [ ]:
day_dict.items()

dict_items([('weekday', 'Thursday'), ('day', 20), ('month', 'October'), ('year', 2020)])

I can create a dictionary from two lists using an awesome function called `zip()`. *This is just a preview of zip; we'll see more in zip and other cool python functions in a future notebook.*

In [ ]:
# Define the lists I want to be keys and values in my dictionary.

key_list = ['name', 'sign', 'age']
value_list = ['Betty', 'Aquarius', 1]

In [ ]:
fam_dict = dict(zip(key_list, value_list))
fam_dict

{'name': 'Betty', 'sign': 'Aquarius', 'age': 1}

___

### Dictionary Indexing

I can access a value in my dictionary by passing the key into the indexing operator `[]`.

In [ ]:
fam_dict

{'name': 'Betty', 'sign': 'Aquarius', 'age': 1}

In [ ]:
fam_dict['name']

'Betty'

I can loop through my dictionary using the `.keys()`, `.values()`, and `.items()` methods. (More on loops in a future notebook.)

In [ ]:
# Print each key in my dictionary.

for key in fam_dict.keys():
    print(key)

name
sign
age

In [ ]:
# Print each value in my dictionary.

for value in fam_dict.values():
    print(value)

Betty
Aquarius
1

In [ ]:
# Print each item in my dictionary as a tuple.

for item in fam_dict.items():
    print(item)

('name', 'Betty')
('sign', 'Aquarius')
('age', 1)

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Mixed Sequence Structures

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

I can dig into more complicated structures using indexing, as well. I have to be sure I use the appropriate indexing for each sequence. I'll demonstrate below:

In [ ]:
# Create a list of four dictionaries.

fam_list = [{'name': 'Milla', 'sign': 'Virgo', 'age': 15},
            {'name': 'Birdie', 'sign': 'Gemini', 'age': 1},
            {'name': 'Starbuck', 'sign': 'Aries', 'age': 5},
            {'name': 'Faith', 'sign': 'Aquarius', 'age': 100}]

fam_list

[{'name': 'Milla', 'sign': 'Virgo', 'age': 15},
 {'name': 'Birdie', 'sign': 'Gemini', 'age': 1},
 {'name': 'Starbuck', 'sign': 'Aries', 'age': 5},
 {'name': 'Faith', 'sign': 'Aquarius', 'age': 100}]

In [ ]:
# Verifying the data type is a list.

print(type(fam_list))

<class 'list'>

Since this is a list, recall that I pass an integer representing an index position to the indexing operator like below. *Revisit list indexing and slicing [here](#lists).*
```python
list[0]
```
I can also slice my list to return segments of the sequence like this:
```python
list[:2]
```

In [ ]:
# This returns the first element in my list, which happens to be a dictionary.

fam_list[0]

{'name': 'Milla', 'sign': 'Virgo', 'age': 15}

In [ ]:
# This slice returns the first two elements in my list, which happen to be dictionaries.

fam_list[:2]

[{'name': 'Milla', 'sign': 'Virgo', 'age': 15},
 {'name': 'Birdie', 'sign': 'Gemini', 'age': 1}]

___

**What if I want to dig into the dictionaries in the list?** I can do this by indexing into the list with the appropriate syntax and then the dictionary with the appropriate syntax. 

Below I pass an iteger to the indexing operator to return the first element in my list. Since the first element in my list is a dictionary, I pass a key to the indexing operator to return the value that is paired with that key in the dictionary. *Revisit dictionary indexing [here](#dictionaries).*

In [ ]:
# I return the first dictionary in my list and the value for the name key in my dictionary.

fam_list[0]['name']

'Milla'

In [ ]:
# I can return the value for the name key for each dictionary in my list like this:

for element in fam_list:
    print(element['name'])

Milla
Birdie
Starbuck
Faith

I can return the name of the oldest person/animal in my dictionary. This code utilizes for loops and an if statement to find the dictionary with the highest value for age and then print values from that dictionary. This is one way to get the values I want, but as will often be the case, there are many ways to accomplish my goal. I'll revisit this goal in a future notebook and explore other ways of getting this information.

In [ ]:
# I iterate through my list adding the age from each dictionary to a new list, `ages`.

for element in fam_list:
    ages = []
    ages.append(element['age'])

# I use the max() function to return the max age in `ages` and assign that integer to `max_age`.

max_age = max(ages)

# I iterate through my list again and print different values if the age value matches `max_age`.

for element in fam_list:
    if element['age'] == max_age:
        print(f"The oldest person in the list is {element['name']}.")
        print(f"Her sign is {element['sign']}.")

The oldest person in the list is Faith.
Her sign is Aquarius.