<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exercise-98" data-toc-modified-id="Exercise-98-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exercise 98</a></span></li><li><span><a href="#Exercise-101" data-toc-modified-id="Exercise-101-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise 101</a></span></li></ul></div>

In [31]:
import pandas as pd
import numpy as np

In [52]:
strings = ['hello', 'Codeup', 'stUdenTs']
string_series = pd.Series(strings)

In [53]:
string_series

0       hello
1      Codeup
2    stUdenTs
dtype: object

In [55]:
string_series.str.lower()

0       hello
1      codeup
2    students
dtype: object

In [56]:
arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 40])
numeric_series = pd.Series(arr)
numeric_series

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    40
dtype: int64

In [58]:
numeric_series % 2 == 0

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8     True
dtype: bool

In [59]:
numeric_series[numeric_series % 2 == 0]

1    10
3    20
5    30
7    40
8    40
dtype: int64

In [1]:
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [2]:
def get_number_of_books(seq):
    return len(books)

In [3]:
get_number_of_books(books)

4

In [4]:
shopping_cart = {
    "tax": .08,
    "items": [
        {
            "title": "orange juice",
            "price": 3.99,
            "quantity": 1
        },
        {
            "title": "rice",
            "price": 1.99,
            "quantity": 3
        },
        {
            "title": "beans",
            "price": 0.99,
            "quantity": 3
        },
        {
            "title": "chili sauce",
            "price": 2.99,
            "quantity": 1
        },
        {
            "title": "chocolate",
            "price": 0.75,
            "quantity": 9
        }
    ]
}

In [49]:
small_df = df['items'].apply(pd.Series)

          title  price  quantity
0  orange juice   3.99         1
1          rice   1.99         3
2         beans   0.99         3
3   chili sauce   2.99         1
4     chocolate   0.75         9

In [50]:
small_df['tax'] = .08

In [51]:
small_df

          title  price  quantity   tax
0  orange juice   3.99         1  0.08
1          rice   1.99         3  0.08
2         beans   0.99         3  0.08
3   chili sauce   2.99         1  0.08
4     chocolate   0.75         9  0.08

### Exercise 98

Write a function named total_number_of_items that takes in the shopping cart as input and returns the total number of all item quantities.

- This should return the sum of all of the quantities from each item type.

>def total_number_of_items (x):

In [ ]:
def total_number_of_items(shopping_cart):
    return sum([item['quantity'] for item in shopping_cart['items']])
    
assert total_number_of_items(shopping_cart) == 17
print("Exercise 98 is complete.")

In [ ]:
def total_number_of_items(shopping_cart):
    quant = 0
    for item in shopping_cart['items']:
        quant += item['quantity']
    return quant

assert total_number_of_items(shopping_cart) == 17
print("Exercise 98 is complete.")

### Exercise 98

In [ ]:
shopping_cart['items'][0]['price'] * shopping_cart['items'][0]['quantity']

In [ ]:
total = 0
quantity = 0
for i in range(len(shopping_cart['items'])):
    total += shopping_cart['items'][i]['price'] * shopping_cart['items'][i]['quantity']
    quantity += shopping_cart['items'][i]['quantity']

total / quantity

### Exercise 99

### Exercise 100

Write a function named get_average_spent_per_item that takes in the shopping cart and returns the average of summing each item's quanties times that item's price.
>Hint: You may need to set an initial total price and total total quantity to zero, then sum up and divide that total price by the total quantity

In [5]:
shopping_cart

{'tax': 0.08,
 'items': [{'title': 'orange juice', 'price': 3.99, 'quantity': 1},
  {'title': 'rice', 'price': 1.99, 'quantity': 3},
  {'title': 'beans', 'price': 0.99, 'quantity': 3},
  {'title': 'chili sauce', 'price': 2.99, 'quantity': 1},
  {'title': 'chocolate', 'price': 0.75, 'quantity': 9}]}

In [7]:
shopping_cart['items']

[{'title': 'orange juice', 'price': 3.99, 'quantity': 1},
 {'title': 'rice', 'price': 1.99, 'quantity': 3},
 {'title': 'beans', 'price': 0.99, 'quantity': 3},
 {'title': 'chili sauce', 'price': 2.99, 'quantity': 1},
 {'title': 'chocolate', 'price': 0.75, 'quantity': 9}]

In [8]:
def get_average_spent_per_item(shopping_cart):
    total_price = 0
    total_quantity = 0

    for item in shopping_cart['items']:
        total_price += item['price'] * item['quantity']
        total_quantity += item['quantity']
    
    return total_price/total_quantity

In [9]:
get_average_spent_per_item(shopping_cart)

1.333529411764706

In [5]:
total_price = 0
total_quantity = 0

for item in shopping_cart['items']:
    total_price += item['price'] * item['quantity']
    total_quantity += item['quantity']
    
print(total_price/total_quantity)

1.333529411764706

### Exercise 101

Write a function named most_spent_on_item that takes in the shopping cart as input and returns the dictionary associated with the item that has the highest price*quantity.

- Be sure to do this as programmatically as possible. 

>**Hint:** Similarly to how we sometimes begin a function with setting a variable to zero, we need a starting place:

>**Hint:** Consider creating a variable that is a dictionary with the keys "price" and "quantity" both set to 0. You can then compare each item's price and quantity total to the one from "most"

In [ ]:
# View items in shopping cart - orienting myself.

shopping_cart['items']

In [12]:
def most_spent_on_item(shopping_cart):
    max_total = 0

    for item in shopping_cart['items']:
        total = item['price'] * item['quantity']
        if total > max_total:
            max_total = total

    for item in shopping_cart['items']:
        if item['price'] * item['quantity'] == max_total:
            return item

In [13]:
most_spent_on_item(shopping_cart)

{'title': 'chocolate', 'price': 0.75, 'quantity': 9}

In [4]:
# Our simple loops method of solving the problem.

max_total = 0

for item in shopping_cart['items']:
    total = item['price'] * item['quantity']
    if total > max_total:
        max_total = total

for item in shopping_cart['items']:
    if item['price'] * item['quantity'] == max_total:
        print(item)

{'title': 'chocolate', 'price': 0.75, 'quantity': 9}

In [9]:
# We can build a simple function to use with the key argument in the max function.

def total_func(dict):
    return dict['price'] * dict['quantity']

In [10]:
# Use our function from above.

max(shopping_cart['items'], key=total_func)

{'title': 'chocolate', 'price': 0.75, 'quantity': 9}

In [8]:
# We can use a lambda function to define our simple function inline.

max(shopping_cart['items'], key=lambda item: (item['price'] * item['quantity']))

{'title': 'chocolate', 'price': 0.75, 'quantity': 9}

In [ ]:
# Test out our function.

def most_spent_on_item(shopping_cart):
    return max(shopping_cart['items'], key=lambda item: (item['price'] * item['quantity']))

assert most_spent_on_item(shopping_cart) == {'title': 'chocolate', 'price': 0.75, 'quantity': 9}
print('Exercise 101 is complete.')

In [12]:
# Return the item in the shopping_cart with the longest title string.

max(shopping_cart['items'], key=lambda item: len(item['title']))

{'title': 'orange juice', 'price': 3.99, 'quantity': 1}

In [13]:
word_list = ['steve', 'milla', 'faith', 'jennifer', 'bob']

In [14]:
# Use a builtin function with max to return the string with the most characters.

max(word_list, key=len)

'jennifer'

In [15]:
# Without the key argument, it will return the string that starts with the letter latest in the alphabet.

max(word_list)

'steve'

In [16]:
# I can use this of course with min, too.

min(word_list, key=len)

'bob'

In [18]:
def is_negative_odd(num):
    return num % 2 != 0 and num < 0

In [21]:
is_negative_odd(-4)

False

## Normalize input value

In [46]:
# Here is the loop way...

word = ' & AA bb 98'

lets = []
for let in word:
    if let.isalnum() or let == ' ':
        lets.append(let.lower())
        
''.join(lets).strip().replace(' ', '_')

'aa_bb_98'

In [47]:
# Here is the list comprehension way with method chaining tacked on at the end. Step-by-step

# Define our test word.
word = ' & AA bb 98'

# Step 1: get a list of valid identifiers from the test word.
[let.lower() for let in word if let.isalnum() or let == ' ']

[' ', ' ', 'a', 'a', ' ', 'b', 'b', ' ', '9', '8']

In [48]:
# Step 2: join the elements in the list.

''.join([let.lower() for let in word if let.isalnum() or let == ' '])

'  aa bb 98'

In [49]:
# Step 3: use method chaining 

''.join([let.lower() for let in word if let.isalnum() or let == ' ']).strip().replace(' ', '_')

'aa_bb_98'

In [50]:
# Throw it all in a function.

def normalize_name(word):
    lets = []
    for let in word:
        if let.isalnum() or let == ' ':
            lets.append(let.lower())
        
    return ''.join(lets).strip().replace(' ', '_')

In [51]:
normalize_name(word)

'aa_bb_98'